<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to King Lake Cellars Membership!</h1>
    <p>
      Please click the link below to confirm your account and create a password.<br>
    </p>
    <p>
      <%= @url %>
    </p>
  </body>
</html>